<!-- <div
    class="fixed left-0 top-0 flex min-h-screen w-full flex-col items-center justify-center gap-10"
>
    <h1 class="font-heading text-5xl font-light">Starter Statamic</h1>
    <p>
        <a class="text-primary-500 underline" href="/cp">Control Panel</a>
    </p>
</div> -->

{{#
<section class="container-p container-gap grid grid-cols-1 xl:grid-cols-2">
    <div>
        <h2 class="mt-4 text-5xl font-normal">Lorem Ipsum</h2>
        <div class="prose mt-6">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Asperiores quae laudantium suscipit illum aspernatur iure
                incidunt unde illo, nihil voluptatem officia dicta similique
                maxime quisquam alias tempora molestias. Minima, numquam!
            </p>
            <ul>
                <li>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                </li>
                <li>Delectus, distinctio fugit!</li>
                <li>
                    Non nihil asperiores aspernatur iure repellat ducimus rerum
                    animi cupiditate eveniet, provident velit iste, doloremque
                    eligendi suscipit quas. Ipsa.
                </li>
            </ul>
        </div>
    </div>
    {{ img src="/site/img/northern-lights.jpg" class="rounded shadow-md shadow-stone-800/50" }}
</section>
<section class="container-p container-gap grid grid-cols-1 xl:grid-cols-2">
    <div>
        <h2 class="mt-4 text-5xl font-normal">Lorem Ipsum</h2>
        <div class="prose mt-6">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Quisquam molestias vel quasi reprehenderit, eaque assumenda ad
                neque itaque asperiores? Nobis veritatis quis cupiditate est
                iure? Perferendis officia esse accusamus quia.
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Similique incidunt, vitae fugiat eius delectus asperiores sed
                quaerat quae, porro, modi commodi ea omnis! Consequatur, illum
                libero. Aperiam temporibus asperiores recusandae!
            </p>
        </div>
    </div>
    {{ img src="/site/img/northern-lights.jpg" class="order-last rounded shadow-md shadow-stone-800/50 xl:order-first"
    }}
</section>
<section class="container-p container-gap grid grid-cols-1 xl:grid-cols-2">
    <div>
        <h2 class="mt-4 text-5xl font-normal">Lorem Ipsum</h2>
        <div class="prose mt-6">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Asperiores quae laudantium suscipit illum aspernatur iure
                incidunt unde illo, nihil voluptatem officia dicta similique
                maxime quisquam alias tempora molestias. Minima, numquam!
            </p>
            <ul>
                <li>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                </li>
                <li>Delectus, distinctio fugit!</li>
                <li>
                    Non nihil asperiores aspernatur iure repellat ducimus rerum
                    animi cupiditate eveniet, provident velit iste, doloremque
                    eligendi suscipit quas. Ipsa.
                </li>
            </ul>
        </div>
    </div>
    {{ img src="/site/img/northern-lights.jpg" class="rounded shadow-md shadow-stone-800/50" }}
</section>
#}}

<section class="container-p">
    <div class="relative" x-data="test_img">
        {{ img src="/site/img/northern-lights.jpg" class="hover:scale-105 transition duration-150 ease-in-out
        cursor-pointer" @click="onClick" @mousemove="onMouseover" @mouseleave="coords = ''" sizes="100vw md:100vw
        xl:25vw" }}
        <p
            x-text="coords"
            class="absolute left-0 top-0 rounded p-4 text-white shadow-md"
        ></p>
    </div>
    <script>
        document.addEventListener("alpine:init", () => {
            Alpine.data("test_img", () => ({
                coords: "",
                init() {
                },
                onClick() {
                    alert("Hello world!");
                },
                onMouseover(event) {
                    this.coords = event.clientX + ", " + event.clientY;
                }
            }));
        });
    </script>
</section>
