<!-- <div
    class="fixed left-0 top-0 flex min-h-screen w-full flex-col items-center justify-center gap-10"
>
    <h1 class="font-heading text-5xl font-light">Starter Statamic</h1>
    <p>
        <a class="text-primary-500 underline" href="/cp">Control Panel</a>
    </p>
</div> -->

<section class="container-p grid grid-cols-1 gap-20 xl:grid-cols-2">
    <div>
        <h2 class="mt-4 text-4xl font-bold">Lorem Ipsum</h2>
        <div class="prose mt-6">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Asperiores quae laudantium suscipit illum aspernatur iure
                incidunt unde illo, nihil voluptatem officia dicta similique
                maxime quisquam alias tempora molestias. Minima, numquam!
            </p>
            <ul>
                <li>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                </li>
                <li>Delectus, distinctio fugit!</li>
                <li>
                    Non nihil asperiores aspernatur iure repellat ducimus rerum
                    animi cupiditate eveniet, provident velit iste, doloremque
                    eligendi suscipit quas. Ipsa.
                </li>
            </ul>
        </div>
    </div>
    <img
        sizes="(min-width: 1024px) 50vw, 100vw"
        class="mt-4 rounded shadow-md shadow-stone-800/50"
        src="https://source.unsplash.com/1600x900/?nature"
        alt="Nature"
    />
</section>
<section class="container-p grid grid-cols-1 gap-20 xl:grid-cols-2">
    <img
        sizes="(min-width: 1024px) 50vw, 100vw"
        class="order-last mt-4 rounded shadow-md shadow-stone-800/50 lg:order-first"
        src="https://source.unsplash.com/1600x900/?mountains"
        alt="Mountains"
    />
    <div>
        <h2 class="mt-4 text-4xl font-bold">Lorem Ipsum</h2>
        <div class="prose mt-6">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Quisquam molestias vel quasi reprehenderit, eaque assumenda ad
                neque itaque asperiores? Nobis veritatis quis cupiditate est
                iure? Perferendis officia esse accusamus quia.
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Similique incidunt, vitae fugiat eius delectus asperiores sed
                quaerat quae, porro, modi commodi ea omnis! Consequatur, illum
                libero. Aperiam temporibus asperiores recusandae!
            </p>
        </div>
    </div>
</section>
<section class="container-p grid grid-cols-1 gap-20 xl:grid-cols-2">
    <div>
        <h2 class="mt-4 text-4xl font-bold">Lorem Ipsum</h2>
        <div class="prose mt-6">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Asperiores quae laudantium suscipit illum aspernatur iure
                incidunt unde illo, nihil voluptatem officia dicta similique
                maxime quisquam alias tempora molestias. Minima, numquam!
            </p>
            <ul>
                <li>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                </li>
                <li>Delectus, distinctio fugit!</li>
                <li>
                    Non nihil asperiores aspernatur iure repellat ducimus rerum
                    animi cupiditate eveniet, provident velit iste, doloremque
                    eligendi suscipit quas. Ipsa.
                </li>
            </ul>
        </div>
    </div>
    <img
        sizes="(min-width: 1024px) 50vw, 100vw"
        class="mt-4 rounded shadow-md shadow-stone-800/50"
        src="https://source.unsplash.com/1600x900/?space"
        alt="Space"
    />
</section>
